.m-1 {
  margin: 1px;
}
.m-2 {
  margin: 2px;
}
.m-3 {
  margin: 3px;
}
.m-4 {
  margin: 4px;
}
.m-5 {
  margin: 5px;
}
.m-6 {
  margin: 6px;
}
.m-7 {
  margin: 7px;
}
.m-8 {
  margin: 8px;
}
.m-9 {
  margin: 9px;
}
.m-10 {
  margin: 10px;
}
.m-11 {
  margin: 11px;
}
.m-12 {
  margin: 12px;
}
.m-13 {
  margin: 13px;
}
.m-14 {
  margin: 14px;
}
.m-15 {
  margin: 15px;
}
.m-16 {
  margin: 16px;
}
.m-17 {
  margin: 17px;
}
.m-18 {
  margin: 18px;
}
.m-19 {
  margin: 19px;
}
.m-20 {
  margin: 20px;
}
.m-21 {
  margin: 21px;
}
.m-22 {
  margin: 22px;
}
.m-23 {
  margin: 23px;
}
.m-24 {
  margin: 24px;
}
.m-25 {
  margin: 25px;
}
.m-26 {
  margin: 26px;
}
.m-27 {
  margin: 27px;
}
.m-28 {
  margin: 28px;
}
.m-29 {
  margin: 29px;
}
.m-30 {
  margin: 30px;
}
.m-31 {
  margin: 31px;
}
.m-32 {
  margin: 32px;
}
.m-33 {
  margin: 33px;
}
.m-34 {
  margin: 34px;
}
.m-35 {
  margin: 35px;
}
.m-36 {
  margin: 36px;
}
.m-37 {
  margin: 37px;
}
.m-38 {
  margin: 38px;
}
.m-39 {
  margin: 39px;
}
.m-40 {
  margin: 40px;
}
.m-41 {
  margin: 41px;
}
.m-42 {
  margin: 42px;
}
.m-43 {
  margin: 43px;
}
.m-44 {
  margin: 44px;
}
.m-45 {
  margin: 45px;
}
.m-46 {
  margin: 46px;
}
.m-47 {
  margin: 47px;
}
.m-48 {
  margin: 48px;
}
.m-49 {
  margin: 49px;
}
.m-50 {
  margin: 50px;
}
.m-51 {
  margin: 51px;
}
.m-52 {
  margin: 52px;
}
.m-53 {
  margin: 53px;
}
.m-54 {
  margin: 54px;
}
.m-55 {
  margin: 55px;
}
.m-56 {
  margin: 56px;
}
.m-57 {
  margin: 57px;
}
.m-58 {
  margin: 58px;
}
.m-59 {
  margin: 59px;
}
.m-60 {
  margin: 60px;
}
.m-61 {
  margin: 61px;
}
.m-62 {
  margin: 62px;
}
.m-63 {
  margin: 63px;
}
.m-64 {
  margin: 64px;
}
.m-65 {
  margin: 65px;
}
.m-66 {
  margin: 66px;
}
.m-67 {
  margin: 67px;
}
.m-68 {
  margin: 68px;
}
.m-69 {
  margin: 69px;
}
.m-70 {
  margin: 70px;
}
.m-71 {
  margin: 71px;
}
.m-72 {
  margin: 72px;
}
.m-73 {
  margin: 73px;
}
.m-74 {
  margin: 74px;
}
.m-75 {
  margin: 75px;
}
.m-76 {
  margin: 76px;
}
.m-77 {
  margin: 77px;
}
.m-78 {
  margin: 78px;
}
.m-79 {
  margin: 79px;
}
.m-80 {
  margin: 80px;
}
.m-81 {
  margin: 81px;
}
.m-82 {
  margin: 82px;
}
.m-83 {
  margin: 83px;
}
.m-84 {
  margin: 84px;
}
.m-85 {
  margin: 85px;
}
.m-86 {
  margin: 86px;
}
.m-87 {
  margin: 87px;
}
.m-88 {
  margin: 88px;
}
.m-89 {
  margin: 89px;
}
.m-90 {
  margin: 90px;
}
.m-91 {
  margin: 91px;
}
.m-92 {
  margin: 92px;
}
.m-93 {
  margin: 93px;
}
.m-94 {
  margin: 94px;
}
.m-95 {
  margin: 95px;
}
.m-96 {
  margin: 96px;
}
.m-97 {
  margin: 97px;
}
.m-98 {
  margin: 98px;
}
.m-99 {
  margin: 99px;
}
.m-100 {
  margin: 100px;
}

.mt-1 {
  margin-top: 1px;
}
.mt-2 {
  margin-top: 2px;
}
.mt-3 {
  margin-top: 3px;
}
.mt-4 {
  margin-top: 4px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-6 {
  margin-top: 6px;
}
.mt-7 {
  margin-top: 7px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-9 {
  margin-top: 9px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-11 {
  margin-top: 11px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-13 {
  margin-top: 13px;
}
.mt-14 {
  margin-top: 14px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-17 {
  margin-top: 17px;
}
.mt-18 {
  margin-top: 18px;
}
.mt-19 {
  margin-top: 19px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-21 {
  margin-top: 21px;
}
.mt-22 {
  margin-top: 22px;
}
.mt-23 {
  margin-top: 23px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-26 {
  margin-top: 26px;
}
.mt-27 {
  margin-top: 27px;
}
.mt-28 {
  margin-top: 28px;
}
.mt-29 {
  margin-top: 29px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-31 {
  margin-top: 31px;
}
.mt-32 {
  margin-top: 32px;
}
.mt-33 {
  margin-top: 33px;
}
.mt-34 {
  margin-top: 34px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-36 {
  margin-top: 36px;
}
.mt-37 {
  margin-top: 37px;
}
.mt-38 {
  margin-top: 38px;
}
.mt-39 {
  margin-top: 39px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-41 {
  margin-top: 41px;
}
.mt-42 {
  margin-top: 42px;
}
.mt-43 {
  margin-top: 43px;
}
.mt-44 {
  margin-top: 44px;
}
.mt-45 {
  margin-top: 45px;
}
.mt-46 {
  margin-top: 46px;
}
.mt-47 {
  margin-top: 47px;
}
.mt-48 {
  margin-top: 48px;
}
.mt-49 {
  margin-top: 49px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-51 {
  margin-top: 51px;
}
.mt-52 {
  margin-top: 52px;
}
.mt-53 {
  margin-top: 53px;
}
.mt-54 {
  margin-top: 54px;
}
.mt-55 {
  margin-top: 55px;
}
.mt-56 {
  margin-top: 56px;
}
.mt-57 {
  margin-top: 57px;
}
.mt-58 {
  margin-top: 58px;
}
.mt-59 {
  margin-top: 59px;
}
.mt-60 {
  margin-top: 60px;
}
.mt-61 {
  margin-top: 61px;
}
.mt-62 {
  margin-top: 62px;
}
.mt-63 {
  margin-top: 63px;
}
.mt-64 {
  margin-top: 64px;
}
.mt-65 {
  margin-top: 65px;
}
.mt-66 {
  margin-top: 66px;
}
.mt-67 {
  margin-top: 67px;
}
.mt-68 {
  margin-top: 68px;
}
.mt-69 {
  margin-top: 69px;
}
.mt-70 {
  margin-top: 70px;
}
.mt-71 {
  margin-top: 71px;
}
.mt-72 {
  margin-top: 72px;
}
.mt-73 {
  margin-top: 73px;
}
.mt-74 {
  margin-top: 74px;
}
.mt-75 {
  margin-top: 75px;
}
.mt-76 {
  margin-top: 76px;
}
.mt-77 {
  margin-top: 77px;
}
.mt-78 {
  margin-top: 78px;
}
.mt-79 {
  margin-top: 79px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-81 {
  margin-top: 81px;
}
.mt-82 {
  margin-top: 82px;
}
.mt-83 {
  margin-top: 83px;
}
.mt-84 {
  margin-top: 84px;
}
.mt-85 {
  margin-top: 85px;
}
.mt-86 {
  margin-top: 86px;
}
.mt-87 {
  margin-top: 87px;
}
.mt-88 {
  margin-top: 88px;
}
.mt-89 {
  margin-top: 89px;
}
.mt-90 {
  margin-top: 90px;
}
.mt-91 {
  margin-top: 91px;
}
.mt-92 {
  margin-top: 92px;
}
.mt-93 {
  margin-top: 93px;
}
.mt-94 {
  margin-top: 94px;
}
.mt-95 {
  margin-top: 95px;
}
.mt-96 {
  margin-top: 96px;
}
.mt-97 {
  margin-top: 97px;
}
.mt-98 {
  margin-top: 98px;
}
.mt-99 {
  margin-top: 99px;
}
.mt-100 {
  margin-top: 100px;
}

.mr-1 {
  margin-right: 1px;
}
.mr-2 {
  margin-right: 2px;
}
.mr-3 {
  margin-right: 3px;
}
.mr-4 {
  margin-right: 4px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-6 {
  margin-right: 6px;
}
.mr-7 {
  margin-right: 7px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-9 {
  margin-right: 9px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-11 {
  margin-right: 11px;
}
.mr-12 {
  margin-right: 12px;
}
.mr-13 {
  margin-right: 13px;
}
.mr-14 {
  margin-right: 14px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-17 {
  margin-right: 17px;
}
.mr-18 {
  margin-right: 18px;
}
.mr-19 {
  margin-right: 19px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-21 {
  margin-right: 21px;
}
.mr-22 {
  margin-right: 22px;
}
.mr-23 {
  margin-right: 23px;
}
.mr-24 {
  margin-right: 24px;
}
.mr-25 {
  margin-right: 25px;
}
.mr-26 {
  margin-right: 26px;
}
.mr-27 {
  margin-right: 27px;
}
.mr-28 {
  margin-right: 28px;
}
.mr-29 {
  margin-right: 29px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-31 {
  margin-right: 31px;
}
.mr-32 {
  margin-right: 32px;
}
.mr-33 {
  margin-right: 33px;
}
.mr-34 {
  margin-right: 34px;
}
.mr-35 {
  margin-right: 35px;
}
.mr-36 {
  margin-right: 36px;
}
.mr-37 {
  margin-right: 37px;
}
.mr-38 {
  margin-right: 38px;
}
.mr-39 {
  margin-right: 39px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-41 {
  margin-right: 41px;
}
.mr-42 {
  margin-right: 42px;
}
.mr-43 {
  margin-right: 43px;
}
.mr-44 {
  margin-right: 44px;
}
.mr-45 {
  margin-right: 45px;
}
.mr-46 {
  margin-right: 46px;
}
.mr-47 {
  margin-right: 47px;
}
.mr-48 {
  margin-right: 48px;
}
.mr-49 {
  margin-right: 49px;
}
.mr-50 {
  margin-right: 50px;
}
.mr-51 {
  margin-right: 51px;
}
.mr-52 {
  margin-right: 52px;
}
.mr-53 {
  margin-right: 53px;
}
.mr-54 {
  margin-right: 54px;
}
.mr-55 {
  margin-right: 55px;
}
.mr-56 {
  margin-right: 56px;
}
.mr-57 {
  margin-right: 57px;
}
.mr-58 {
  margin-right: 58px;
}
.mr-59 {
  margin-right: 59px;
}
.mr-60 {
  margin-right: 60px;
}
.mr-61 {
  margin-right: 61px;
}
.mr-62 {
  margin-right: 62px;
}
.mr-63 {
  margin-right: 63px;
}
.mr-64 {
  margin-right: 64px;
}
.mr-65 {
  margin-right: 65px;
}
.mr-66 {
  margin-right: 66px;
}
.mr-67 {
  margin-right: 67px;
}
.mr-68 {
  margin-right: 68px;
}
.mr-69 {
  margin-right: 69px;
}
.mr-70 {
  margin-right: 70px;
}
.mr-71 {
  margin-right: 71px;
}
.mr-72 {
  margin-right: 72px;
}
.mr-73 {
  margin-right: 73px;
}
.mr-74 {
  margin-right: 74px;
}
.mr-75 {
  margin-right: 75px;
}
.mr-76 {
  margin-right: 76px;
}
.mr-77 {
  margin-right: 77px;
}
.mr-78 {
  margin-right: 78px;
}
.mr-79 {
  margin-right: 79px;
}
.mr-80 {
  margin-right: 80px;
}
.mr-81 {
  margin-right: 81px;
}
.mr-82 {
  margin-right: 82px;
}
.mr-83 {
  margin-right: 83px;
}
.mr-84 {
  margin-right: 84px;
}
.mr-85 {
  margin-right: 85px;
}
.mr-86 {
  margin-right: 86px;
}
.mr-87 {
  margin-right: 87px;
}
.mr-88 {
  margin-right: 88px;
}
.mr-89 {
  margin-right: 89px;
}
.mr-90 {
  margin-right: 90px;
}
.mr-91 {
  margin-right: 91px;
}
.mr-92 {
  margin-right: 92px;
}
.mr-93 {
  margin-right: 93px;
}
.mr-94 {
  margin-right: 94px;
}
.mr-95 {
  margin-right: 95px;
}
.mr-96 {
  margin-right: 96px;
}
.mr-97 {
  margin-right: 97px;
}
.mr-98 {
  margin-right: 98px;
}
.mr-99 {
  margin-right: 99px;
}
.mr-100 {
  margin-right: 100px;
}

.mr-1 {
  margin-bottom: 1px;
}
.mr-2 {
  margin-bottom: 2px;
}
.mr-3 {
  margin-bottom: 3px;
}
.mr-4 {
  margin-bottom: 4px;
}
.mr-5 {
  margin-bottom: 5px;
}
.mr-6 {
  margin-bottom: 6px;
}
.mr-7 {
  margin-bottom: 7px;
}
.mr-8 {
  margin-bottom: 8px;
}
.mr-9 {
  margin-bottom: 9px;
}
.mr-10 {
  margin-bottom: 10px;
}
.mr-11 {
  margin-bottom: 11px;
}
.mr-12 {
  margin-bottom: 12px;
}
.mr-13 {
  margin-bottom: 13px;
}
.mr-14 {
  margin-bottom: 14px;
}
.mr-15 {
  margin-bottom: 15px;
}
.mr-16 {
  margin-bottom: 16px;
}
.mr-17 {
  margin-bottom: 17px;
}
.mr-18 {
  margin-bottom: 18px;
}
.mr-19 {
  margin-bottom: 19px;
}
.mr-20 {
  margin-bottom: 20px;
}
.mr-21 {
  margin-bottom: 21px;
}
.mr-22 {
  margin-bottom: 22px;
}
.mr-23 {
  margin-bottom: 23px;
}
.mr-24 {
  margin-bottom: 24px;
}
.mr-25 {
  margin-bottom: 25px;
}
.mr-26 {
  margin-bottom: 26px;
}
.mr-27 {
  margin-bottom: 27px;
}
.mr-28 {
  margin-bottom: 28px;
}
.mr-29 {
  margin-bottom: 29px;
}
.mr-30 {
  margin-bottom: 30px;
}
.mr-31 {
  margin-bottom: 31px;
}
.mr-32 {
  margin-bottom: 32px;
}
.mr-33 {
  margin-bottom: 33px;
}
.mr-34 {
  margin-bottom: 34px;
}
.mr-35 {
  margin-bottom: 35px;
}
.mr-36 {
  margin-bottom: 36px;
}
.mr-37 {
  margin-bottom: 37px;
}
.mr-38 {
  margin-bottom: 38px;
}
.mr-39 {
  margin-bottom: 39px;
}
.mr-40 {
  margin-bottom: 40px;
}
.mr-41 {
  margin-bottom: 41px;
}
.mr-42 {
  margin-bottom: 42px;
}
.mr-43 {
  margin-bottom: 43px;
}
.mr-44 {
  margin-bottom: 44px;
}
.mr-45 {
  margin-bottom: 45px;
}
.mr-46 {
  margin-bottom: 46px;
}
.mr-47 {
  margin-bottom: 47px;
}
.mr-48 {
  margin-bottom: 48px;
}
.mr-49 {
  margin-bottom: 49px;
}
.mr-50 {
  margin-bottom: 50px;
}
.mr-51 {
  margin-bottom: 51px;
}
.mr-52 {
  margin-bottom: 52px;
}
.mr-53 {
  margin-bottom: 53px;
}
.mr-54 {
  margin-bottom: 54px;
}
.mr-55 {
  margin-bottom: 55px;
}
.mr-56 {
  margin-bottom: 56px;
}
.mr-57 {
  margin-bottom: 57px;
}
.mr-58 {
  margin-bottom: 58px;
}
.mr-59 {
  margin-bottom: 59px;
}
.mr-60 {
  margin-bottom: 60px;
}
.mr-61 {
  margin-bottom: 61px;
}
.mr-62 {
  margin-bottom: 62px;
}
.mr-63 {
  margin-bottom: 63px;
}
.mr-64 {
  margin-bottom: 64px;
}
.mr-65 {
  margin-bottom: 65px;
}
.mr-66 {
  margin-bottom: 66px;
}
.mr-67 {
  margin-bottom: 67px;
}
.mr-68 {
  margin-bottom: 68px;
}
.mr-69 {
  margin-bottom: 69px;
}
.mr-70 {
  margin-bottom: 70px;
}
.mr-71 {
  margin-bottom: 71px;
}
.mr-72 {
  margin-bottom: 72px;
}
.mr-73 {
  margin-bottom: 73px;
}
.mr-74 {
  margin-bottom: 74px;
}
.mr-75 {
  margin-bottom: 75px;
}
.mr-76 {
  margin-bottom: 76px;
}
.mr-77 {
  margin-bottom: 77px;
}
.mr-78 {
  margin-bottom: 78px;
}
.mr-79 {
  margin-bottom: 79px;
}
.mr-80 {
  margin-bottom: 80px;
}
.mr-81 {
  margin-bottom: 81px;
}
.mr-82 {
  margin-bottom: 82px;
}
.mr-83 {
  margin-bottom: 83px;
}
.mr-84 {
  margin-bottom: 84px;
}
.mr-85 {
  margin-bottom: 85px;
}
.mr-86 {
  margin-bottom: 86px;
}
.mr-87 {
  margin-bottom: 87px;
}
.mr-88 {
  margin-bottom: 88px;
}
.mr-89 {
  margin-bottom: 89px;
}
.mr-90 {
  margin-bottom: 90px;
}
.mr-91 {
  margin-bottom: 91px;
}
.mr-92 {
  margin-bottom: 92px;
}
.mr-93 {
  margin-bottom: 93px;
}
.mr-94 {
  margin-bottom: 94px;
}
.mr-95 {
  margin-bottom: 95px;
}
.mr-96 {
  margin-bottom: 96px;
}
.mr-97 {
  margin-bottom: 97px;
}
.mr-98 {
  margin-bottom: 98px;
}
.mr-99 {
  margin-bottom: 99px;
}
.mr-100 {
  margin-bottom: 100px;
}

.ml-1 {
  margin-left: 1px;
}
.ml-2 {
  margin-left: 2px;
}
.ml-3 {
  margin-left: 3px;
}
.ml-4 {
  margin-left: 4px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-6 {
  margin-left: 6px;
}
.ml-7 {
  margin-left: 7px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-9 {
  margin-left: 9px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-11 {
  margin-left: 11px;
}
.ml-12 {
  margin-left: 12px;
}
.ml-13 {
  margin-left: 13px;
}
.ml-14 {
  margin-left: 14px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-17 {
  margin-left: 17px;
}
.ml-18 {
  margin-left: 18px;
}
.ml-19 {
  margin-left: 19px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-21 {
  margin-left: 21px;
}
.ml-22 {
  margin-left: 22px;
}
.ml-23 {
  margin-left: 23px;
}
.ml-24 {
  margin-left: 24px;
}
.ml-25 {
  margin-left: 25px;
}
.ml-26 {
  margin-left: 26px;
}
.ml-27 {
  margin-left: 27px;
}
.ml-28 {
  margin-left: 28px;
}
.ml-29 {
  margin-left: 29px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-31 {
  margin-left: 31px;
}
.ml-32 {
  margin-left: 32px;
}
.ml-33 {
  margin-left: 33px;
}
.ml-34 {
  margin-left: 34px;
}
.ml-35 {
  margin-left: 35px;
}
.ml-36 {
  margin-left: 36px;
}
.ml-37 {
  margin-left: 37px;
}
.ml-38 {
  margin-left: 38px;
}
.ml-39 {
  margin-left: 39px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-41 {
  margin-left: 41px;
}
.ml-42 {
  margin-left: 42px;
}
.ml-43 {
  margin-left: 43px;
}
.ml-44 {
  margin-left: 44px;
}
.ml-45 {
  margin-left: 45px;
}
.ml-46 {
  margin-left: 46px;
}
.ml-47 {
  margin-left: 47px;
}
.ml-48 {
  margin-left: 48px;
}
.ml-49 {
  margin-left: 49px;
}
.ml-50 {
  margin-left: 50px;
}
.ml-51 {
  margin-left: 51px;
}
.ml-52 {
  margin-left: 52px;
}
.ml-53 {
  margin-left: 53px;
}
.ml-54 {
  margin-left: 54px;
}
.ml-55 {
  margin-left: 55px;
}
.ml-56 {
  margin-left: 56px;
}
.ml-57 {
  margin-left: 57px;
}
.ml-58 {
  margin-left: 58px;
}
.ml-59 {
  margin-left: 59px;
}
.ml-60 {
  margin-left: 60px;
}
.ml-61 {
  margin-left: 61px;
}
.ml-62 {
  margin-left: 62px;
}
.ml-63 {
  margin-left: 63px;
}
.ml-64 {
  margin-left: 64px;
}
.ml-65 {
  margin-left: 65px;
}
.ml-66 {
  margin-left: 66px;
}
.ml-67 {
  margin-left: 67px;
}
.ml-68 {
  margin-left: 68px;
}
.ml-69 {
  margin-left: 69px;
}
.ml-70 {
  margin-left: 70px;
}
.ml-71 {
  margin-left: 71px;
}
.ml-72 {
  margin-left: 72px;
}
.ml-73 {
  margin-left: 73px;
}
.ml-74 {
  margin-left: 74px;
}
.ml-75 {
  margin-left: 75px;
}
.ml-76 {
  margin-left: 76px;
}
.ml-77 {
  margin-left: 77px;
}
.ml-78 {
  margin-left: 78px;
}
.ml-79 {
  margin-left: 79px;
}
.ml-80 {
  margin-left: 80px;
}
.ml-81 {
  margin-left: 81px;
}
.ml-82 {
  margin-left: 82px;
}
.ml-83 {
  margin-left: 83px;
}
.ml-84 {
  margin-left: 84px;
}
.ml-85 {
  margin-left: 85px;
}
.ml-86 {
  margin-left: 86px;
}
.ml-87 {
  margin-left: 87px;
}
.ml-88 {
  margin-left: 88px;
}
.ml-89 {
  margin-left: 89px;
}
.ml-90 {
  margin-left: 90px;
}
.ml-91 {
  margin-left: 91px;
}
.ml-92 {
  margin-left: 92px;
}
.ml-93 {
  margin-left: 93px;
}
.ml-94 {
  margin-left: 94px;
}
.ml-95 {
  margin-left: 95px;
}
.ml-96 {
  margin-left: 96px;
}
.ml-97 {
  margin-left: 97px;
}
.ml-98 {
  margin-left: 98px;
}
.ml-99 {
  margin-left: 99px;
}
.ml-100 {
  margin-left: 100px;
}

.mx-1 {
  margin-right: 1px;
  margin-left: 1px;
}
.mx-2 {
  margin-right: 2px;
  margin-left: 2px;
}
.mx-3 {
  margin-right: 3px;
  margin-left: 3px;
}
.mx-4 {
  margin-right: 4px;
  margin-left: 4px;
}
.mx-5 {
  margin-right: 5px;
  margin-left: 5px;
}
.mx-6 {
  margin-right: 6px;
  margin-left: 6px;
}
.mx-7 {
  margin-right: 7px;
  margin-left: 7px;
}
.mx-8 {
  margin-right: 8px;
  margin-left: 8px;
}
.mx-9 {
  margin-right: 9px;
  margin-left: 9px;
}
.mx-10 {
  margin-right: 10px;
  margin-left: 10px;
}
.mx-11 {
  margin-right: 11px;
  margin-left: 11px;
}
.mx-12 {
  margin-right: 12px;
  margin-left: 12px;
}
.mx-13 {
  margin-right: 13px;
  margin-left: 13px;
}
.mx-14 {
  margin-right: 14px;
  margin-left: 14px;
}
.mx-15 {
  margin-right: 15px;
  margin-left: 15px;
}
.mx-16 {
  margin-right: 16px;
  margin-left: 16px;
}
.mx-17 {
  margin-right: 17px;
  margin-left: 17px;
}
.mx-18 {
  margin-right: 18px;
  margin-left: 18px;
}
.mx-19 {
  margin-right: 19px;
  margin-left: 19px;
}
.mx-20 {
  margin-right: 20px;
  margin-left: 20px;
}
.mx-21 {
  margin-right: 21px;
  margin-left: 21px;
}
.mx-22 {
  margin-right: 22px;
  margin-left: 22px;
}
.mx-23 {
  margin-right: 23px;
  margin-left: 23px;
}
.mx-24 {
  margin-right: 24px;
  margin-left: 24px;
}
.mx-25 {
  margin-right: 25px;
  margin-left: 25px;
}
.mx-26 {
  margin-right: 26px;
  margin-left: 26px;
}
.mx-27 {
  margin-right: 27px;
  margin-left: 27px;
}
.mx-28 {
  margin-right: 28px;
  margin-left: 28px;
}
.mx-29 {
  margin-right: 29px;
  margin-left: 29px;
}
.mx-30 {
  margin-right: 30px;
  margin-left: 30px;
}
.mx-31 {
  margin-right: 31px;
  margin-left: 31px;
}
.mx-32 {
  margin-right: 32px;
  margin-left: 32px;
}
.mx-33 {
  margin-right: 33px;
  margin-left: 33px;
}
.mx-34 {
  margin-right: 34px;
  margin-left: 34px;
}
.mx-35 {
  margin-right: 35px;
  margin-left: 35px;
}
.mx-36 {
  margin-right: 36px;
  margin-left: 36px;
}
.mx-37 {
  margin-right: 37px;
  margin-left: 37px;
}
.mx-38 {
  margin-right: 38px;
  margin-left: 38px;
}
.mx-39 {
  margin-right: 39px;
  margin-left: 39px;
}
.mx-40 {
  margin-right: 40px;
  margin-left: 40px;
}
.mx-41 {
  margin-right: 41px;
  margin-left: 41px;
}
.mx-42 {
  margin-right: 42px;
  margin-left: 42px;
}
.mx-43 {
  margin-right: 43px;
  margin-left: 43px;
}
.mx-44 {
  margin-right: 44px;
  margin-left: 44px;
}
.mx-45 {
  margin-right: 45px;
  margin-left: 45px;
}
.mx-46 {
  margin-right: 46px;
  margin-left: 46px;
}
.mx-47 {
  margin-right: 47px;
  margin-left: 47px;
}
.mx-48 {
  margin-right: 48px;
  margin-left: 48px;
}
.mx-49 {
  margin-right: 49px;
  margin-left: 49px;
}
.mx-50 {
  margin-right: 50px;
  margin-left: 50px;
}
.mx-51 {
  margin-right: 51px;
  margin-left: 51px;
}
.mx-52 {
  margin-right: 52px;
  margin-left: 52px;
}
.mx-53 {
  margin-right: 53px;
  margin-left: 53px;
}
.mx-54 {
  margin-right: 54px;
  margin-left: 54px;
}
.mx-55 {
  margin-right: 55px;
  margin-left: 55px;
}
.mx-56 {
  margin-right: 56px;
  margin-left: 56px;
}
.mx-57 {
  margin-right: 57px;
  margin-left: 57px;
}
.mx-58 {
  margin-right: 58px;
  margin-left: 58px;
}
.mx-59 {
  margin-right: 59px;
  margin-left: 59px;
}
.mx-60 {
  margin-right: 60px;
  margin-left: 60px;
}
.mx-61 {
  margin-right: 61px;
  margin-left: 61px;
}
.mx-62 {
  margin-right: 62px;
  margin-left: 62px;
}
.mx-63 {
  margin-right: 63px;
  margin-left: 63px;
}
.mx-64 {
  margin-right: 64px;
  margin-left: 64px;
}
.mx-65 {
  margin-right: 65px;
  margin-left: 65px;
}
.mx-66 {
  margin-right: 66px;
  margin-left: 66px;
}
.mx-67 {
  margin-right: 67px;
  margin-left: 67px;
}
.mx-68 {
  margin-right: 68px;
  margin-left: 68px;
}
.mx-69 {
  margin-right: 69px;
  margin-left: 69px;
}
.mx-70 {
  margin-right: 70px;
  margin-left: 70px;
}
.mx-71 {
  margin-right: 71px;
  margin-left: 71px;
}
.mx-72 {
  margin-right: 72px;
  margin-left: 72px;
}
.mx-73 {
  margin-right: 73px;
  margin-left: 73px;
}
.mx-74 {
  margin-right: 74px;
  margin-left: 74px;
}
.mx-75 {
  margin-right: 75px;
  margin-left: 75px;
}
.mx-76 {
  margin-right: 76px;
  margin-left: 76px;
}
.mx-77 {
  margin-right: 77px;
  margin-left: 77px;
}
.mx-78 {
  margin-right: 78px;
  margin-left: 78px;
}
.mx-79 {
  margin-right: 79px;
  margin-left: 79px;
}
.mx-80 {
  margin-right: 80px;
  margin-left: 80px;
}
.mx-81 {
  margin-right: 81px;
  margin-left: 81px;
}
.mx-82 {
  margin-right: 82px;
  margin-left: 82px;
}
.mx-83 {
  margin-right: 83px;
  margin-left: 83px;
}
.mx-84 {
  margin-right: 84px;
  margin-left: 84px;
}
.mx-85 {
  margin-right: 85px;
  margin-left: 85px;
}
.mx-86 {
  margin-right: 86px;
  margin-left: 86px;
}
.mx-87 {
  margin-right: 87px;
  margin-left: 87px;
}
.mx-88 {
  margin-right: 88px;
  margin-left: 88px;
}
.mx-89 {
  margin-right: 89px;
  margin-left: 89px;
}
.mx-90 {
  margin-right: 90px;
  margin-left: 90px;
}
.mx-91 {
  margin-right: 91px;
  margin-left: 91px;
}
.mx-92 {
  margin-right: 92px;
  margin-left: 92px;
}
.mx-93 {
  margin-right: 93px;
  margin-left: 93px;
}
.mx-94 {
  margin-right: 94px;
  margin-left: 94px;
}
.mx-95 {
  margin-right: 95px;
  margin-left: 95px;
}
.mx-96 {
  margin-right: 96px;
  margin-left: 96px;
}
.mx-97 {
  margin-right: 97px;
  margin-left: 97px;
}
.mx-98 {
  margin-right: 98px;
  margin-left: 98px;
}
.mx-99 {
  margin-right: 99px;
  margin-left: 99px;
}
.mx-100 {
  margin-right: 100px;
  margin-left: 100px;
}

.my-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}
.my-2 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.my-3 {
  margin-top: 3px;
  margin-bottom: 3px;
}
.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.my-6 {
  margin-top: 6px;
  margin-bottom: 6px;
}
.my-7 {
  margin-top: 7px;
  margin-bottom: 7px;
}
.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.my-9 {
  margin-top: 9px;
  margin-bottom: 9px;
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-11 {
  margin-top: 11px;
  margin-bottom: 11px;
}
.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.my-13 {
  margin-top: 13px;
  margin-bottom: 13px;
}
.my-14 {
  margin-top: 14px;
  margin-bottom: 14px;
}
.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.my-17 {
  margin-top: 17px;
  margin-bottom: 17px;
}
.my-18 {
  margin-top: 18px;
  margin-bottom: 18px;
}
.my-19 {
  margin-top: 19px;
  margin-bottom: 19px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-21 {
  margin-top: 21px;
  margin-bottom: 21px;
}
.my-22 {
  margin-top: 22px;
  margin-bottom: 22px;
}
.my-23 {
  margin-top: 23px;
  margin-bottom: 23px;
}
.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.my-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.my-26 {
  margin-top: 26px;
  margin-bottom: 26px;
}
.my-27 {
  margin-top: 27px;
  margin-bottom: 27px;
}
.my-28 {
  margin-top: 28px;
  margin-bottom: 28px;
}
.my-29 {
  margin-top: 29px;
  margin-bottom: 29px;
}
.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.my-31 {
  margin-top: 31px;
  margin-bottom: 31px;
}
.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.my-33 {
  margin-top: 33px;
  margin-bottom: 33px;
}
.my-34 {
  margin-top: 34px;
  margin-bottom: 34px;
}
.my-35 {
  margin-top: 35px;
  margin-bottom: 35px;
}
.my-36 {
  margin-top: 36px;
  margin-bottom: 36px;
}
.my-37 {
  margin-top: 37px;
  margin-bottom: 37px;
}
.my-38 {
  margin-top: 38px;
  margin-bottom: 38px;
}
.my-39 {
  margin-top: 39px;
  margin-bottom: 39px;
}
.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.my-41 {
  margin-top: 41px;
  margin-bottom: 41px;
}
.my-42 {
  margin-top: 42px;
  margin-bottom: 42px;
}
.my-43 {
  margin-top: 43px;
  margin-bottom: 43px;
}
.my-44 {
  margin-top: 44px;
  margin-bottom: 44px;
}
.my-45 {
  margin-top: 45px;
  margin-bottom: 45px;
}
.my-46 {
  margin-top: 46px;
  margin-bottom: 46px;
}
.my-47 {
  margin-top: 47px;
  margin-bottom: 47px;
}
.my-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}
.my-49 {
  margin-top: 49px;
  margin-bottom: 49px;
}
.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.my-51 {
  margin-top: 51px;
  margin-bottom: 51px;
}
.my-52 {
  margin-top: 52px;
  margin-bottom: 52px;
}
.my-53 {
  margin-top: 53px;
  margin-bottom: 53px;
}
.my-54 {
  margin-top: 54px;
  margin-bottom: 54px;
}
.my-55 {
  margin-top: 55px;
  margin-bottom: 55px;
}
.my-56 {
  margin-top: 56px;
  margin-bottom: 56px;
}
.my-57 {
  margin-top: 57px;
  margin-bottom: 57px;
}
.my-58 {
  margin-top: 58px;
  margin-bottom: 58px;
}
.my-59 {
  margin-top: 59px;
  margin-bottom: 59px;
}
.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.my-61 {
  margin-top: 61px;
  margin-bottom: 61px;
}
.my-62 {
  margin-top: 62px;
  margin-bottom: 62px;
}
.my-63 {
  margin-top: 63px;
  margin-bottom: 63px;
}
.my-64 {
  margin-top: 64px;
  margin-bottom: 64px;
}
.my-65 {
  margin-top: 65px;
  margin-bottom: 65px;
}
.my-66 {
  margin-top: 66px;
  margin-bottom: 66px;
}
.my-67 {
  margin-top: 67px;
  margin-bottom: 67px;
}
.my-68 {
  margin-top: 68px;
  margin-bottom: 68px;
}
.my-69 {
  margin-top: 69px;
  margin-bottom: 69px;
}
.my-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}
.my-71 {
  margin-top: 71px;
  margin-bottom: 71px;
}
.my-72 {
  margin-top: 72px;
  margin-bottom: 72px;
}
.my-73 {
  margin-top: 73px;
  margin-bottom: 73px;
}
.my-74 {
  margin-top: 74px;
  margin-bottom: 74px;
}
.my-75 {
  margin-top: 75px;
  margin-bottom: 75px;
}
.my-76 {
  margin-top: 76px;
  margin-bottom: 76px;
}
.my-77 {
  margin-top: 77px;
  margin-bottom: 77px;
}
.my-78 {
  margin-top: 78px;
  margin-bottom: 78px;
}
.my-79 {
  margin-top: 79px;
  margin-bottom: 79px;
}
.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.my-81 {
  margin-top: 81px;
  margin-bottom: 81px;
}
.my-82 {
  margin-top: 82px;
  margin-bottom: 82px;
}
.my-83 {
  margin-top: 83px;
  margin-bottom: 83px;
}
.my-84 {
  margin-top: 84px;
  margin-bottom: 84px;
}
.my-85 {
  margin-top: 85px;
  margin-bottom: 85px;
}
.my-86 {
  margin-top: 86px;
  margin-bottom: 86px;
}
.my-87 {
  margin-top: 87px;
  margin-bottom: 87px;
}
.my-88 {
  margin-top: 88px;
  margin-bottom: 88px;
}
.my-89 {
  margin-top: 89px;
  margin-bottom: 89px;
}
.my-90 {
  margin-top: 90px;
  margin-bottom: 90px;
}
.my-91 {
  margin-top: 91px;
  margin-bottom: 91px;
}
.my-92 {
  margin-top: 92px;
  margin-bottom: 92px;
}
.my-93 {
  margin-top: 93px;
  margin-bottom: 93px;
}
.my-94 {
  margin-top: 94px;
  margin-bottom: 94px;
}
.my-95 {
  margin-top: 95px;
  margin-bottom: 95px;
}
.my-96 {
  margin-top: 96px;
  margin-bottom: 96px;
}
.my-97 {
  margin-top: 97px;
  margin-bottom: 97px;
}
.my-98 {
  margin-top: 98px;
  margin-bottom: 98px;
}
.my-99 {
  margin-top: 99px;
  margin-bottom: 99px;
}
.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}
